/*------------------------------------------------------------------------------------------------------------------------------------*/
.mosaic-tile:hover {
  cursor: pointer;
}

.day-head {
  font-family: "Manrope", sans-serif;
  display: block;
  align-items: center;
  margin-left: 42rem;
}

.tooltip-text {
  color: red;
}
