@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Manrope:wght@400;500&family=Merriweather:ital,wght@0,300;0,700;1,400&family=Oswald:wght@200&display=swap");

/*Homepage Styles*/
body.home-body {
  background-image: url("../images/astro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1.main-head {
  display: block;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 4rem;
  text-align: center;
  margin-top: auto;
}

section.nav-tabs {
  display: grid;
  grid-template-columns: repeat(6, 16.5%);
  grid-template-rows: 1;
  height: 4rem;
  width: 90vw;
  margin: auto;
}

button.nav-btn {
  width: 15rem;
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-weight: 550;
  border-radius: 0;
}
button.nav-btn:hover {
  background-color: black;
  color: white;
  border: 0.2rem white solid;
  cursor: pointer;
  transition: all 0.3s linear;
}

button.date-btns {
  width: 15rem;
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-weight: 550;
  border-radius: 0;
  margin: 1rem;
  background-color: white;
}

p.btn-select {
  font-size: 1.5rem;
  font-weight: bold;
}
button.date-btns:hover {
  background-color: black;
  color: white;
  border: 0.2rem white solid;
  cursor: pointer;
  transition: all 0.3s linear;
}

section.tooltip-home {
  width: 80vw;
  height: 2.8rem;
  background-color: black;
  margin-left: 10rem;
  margin-right: auto;
  margin-top: 1rem;
  transform: translateX(-100%);
  transition: all 0.5s ease;
}

section.tooltip-home-show {
  display: block;
  text-align: center;
  width: 75.5vw;
  height: 2.8rem;
  background-color: white;
  font-family: "Manrope", sans-serif;
  margin-left: 12.5rem;
  margin-right: auto;
  margin-top: 1rem;
  color: black;
  font-size: 1.3rem;
  transform: translateX(0);
  transition: all 0.5s ease;
}

/*Pages Styles*/
header.header {
  position: fixed;
  background-color: white;
  width: 100vw;
  margin-top: 0.7rem;
}
h1.main-head-pages {
  display: block;
  color: black;
  font-family: "Manrope", sans-serif;
  font-size: 3.2rem;
  text-align: center;
  margin-top: -1rem;
  transition: 0.3s linear ease-in;
}
h1.head-scroll {
  display: flex;
  color: black;
  font-family: "Manrope", sans-serif;
  font-size: 3.2rem;
  text-align: center;
  margin-top: 1rem;
  margin-left: 0.5rem;
  transition: 0.3s;
}

section.nav-tabs-pages {
  display: grid;
  grid-template-columns: repeat(7, 13.5%);
  grid-template-rows: 1;
  height: 4rem;
  width: 90vw;
  margin-top: -2.42rem;
  margin-bottom: auto;
  margin-left: 10rem;
  margin-right: 10rem;
  transition: 0.3s;
}
button#day-btn {
  width: 12rem;
  font-size: 1.2rem;
  background-color: white;
}
button#day-btn:hover {
  width: 12rem;
  font-size: 1.2rem;
  background-color: grey;
  color: white;
  border: black 1pt solid;
}
button#day-btn-active {
  width: 12rem;
  font-size: 1.2rem;
  background-color: black;
}
button#day-btn-active:hover {
  width: 12rem;
  font-size: 1.2rem;
  background-color: grey;
  color: white;
  border: black 1pt solid;
}
button#day-btn-home {
  width: 15rem;
  font-size: 1.4rem;
  background-color: white;
}
button#day-btn-home:hover {
  width: 15rem;
  font-size: 1.4rem;
  background-color: black;
  color: white;
  border: white 2.5pt solid;
}
section.page-scroll {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1;
  grid-auto-rows: 4rem;
  width: 80vw;
  margin-top: -7rem;
  margin-right: 1rem;
  margin-bottom: -4rem;
  float: right;
  transition: 0.3s;
}
button.nav-btn-pages {
  width: 12rem;
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
  font-weight: 550;
  border-radius: 0;
  background-color: white;
  transition: 0.3s;
}
button.btn-scroll {
  width: 10rem;
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
  font-weight: 550;
  border-radius: 0;
  background-color: white;
  transition: 0.3s;
}
button.nav-btn-pages:hover {
  background-color: rgb(85, 85, 85);
  color: white;
  border: 0.1rem rgb(32, 32, 32) solid;
  cursor: pointer;
  transition: all 0.3s linear;
}
div.divider-line {
  border: 1px black solid;
  margin: 1.5rem auto auto auto;
  width: 100%;
  transition: 0.3s;
}
div.div-scroll {
  border: 1px black solid;
  margin: 1.5rem auto auto auto;
  width: 100%;
  margin-top: -1rem;
  transition: 0.3s;
}

main.main-style {
  height: 100vh;
  width: 100%;
  padding-top: 10rem;
}

button.active {
  background-color: black;
  color: white;
  border: 0.2rem white solid;
}

.day-active {
  background-color: black;
  color: white;
  border: 0.2rem white solid;
}

section.tooltip-pages {
  width: 75.5vw;
  height: 2.5rem;
  background-color: white;
  margin-left: 13rem;
  margin-right: auto;
  margin-top: 1rem;
  border: 1px black solid;
  transform: translate(0);
  font-family: "Manrope", sans-serif;
  text-align: center;
}
section.tooltip-pages-show {
  transform: translate(-10000%);
}
main.main-style {
  margin-top: -1.2rem;
}
section.design-para {
  display: block;
  font-family: "Manrope", sans-serif;
  text-align: center;
  margin-left: 20rem;
  margin-right: 20rem;
}
#sec-it {
  margin-top: -11rem;
}
h2.design-head {
  font-size: 1.7rem;
}

h2#data-head {
  font-size: 1.8rem;
}

p.design-txt {
  font-size: 1.1rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

img.planet-div-line {
  width: 20rem;
}
p.placeholder-txt {
  font-family: "Manrope", sans-serif;
  text-align: center;
  margin-top: 3rem;
}
img.wireframe {
  height: 24rem;
  width: 40rem;
  margin-bottom: auto;
  border: 0.15rem black solid;
}
img.wireframe-tab {
  height: 25rem;
  width: 20rem;
  margin-bottom: auto;
  border: 0.15rem black solid;
}

/*Blog Section Elements*/
section.hide-blog {
  transform: translateX(-1000%);
}
section.blog-visual {
  display: grid;
  height: 30rem;
  border: 0.1rem black solid;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
  justify-content: center;
  align-items: first baseline;
  overflow: hidden;
}

ul.blog-list {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(5, 20%);
  margin: auto auto auto auto;
  grid-row: 1;
  grid-column: 1;
  height: 25rem;
  list-style: none;
  padding: 1rem;
  font-family: "Manrope", sans-serif;
}

button.blog-table-btn {
  width: 100%;
  height: 90%;
  padding: 1rem;
  border-radius: 0%;
  border: 0.1rem solid black;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  background-color: white;
}

button.blog-table-btn:hover {
  width: 100%;
  height: 90%;
  padding: 1rem;
  border-radius: 0%;
  border: 0.1rem solid black;
  font-family: "Manrope", sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: underline;
}

img.lock-img {
  height: 2rem;
  width: 2rem;
}

h2.blog-acc-bar {
  color: black;
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 1.9rem;
}

#blog-one {
  margin-top: 1rem;
}

section.blog-post {
  display: block;
  font-family: "Manrope", sans-serif;
  text-align: center;
  margin-left: 25rem;
  margin-right: 25rem;
  font-size: 1.2rem;
}

h3.blog-post-head {
  font-size: 1.7rem;
}

p.blog-txt {
  font-size: 25rem;
  margin-left: 45rem;
  margin-right: 45rem;
}
p.info-txt {
  font-size: 1.1rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}
p.blog-txt {
  font-size: 1.1rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

h4.sub-head-blog {
  margin-top: auto;
  font-size: 1.5rem;
}

#blog-two {
  padding-bottom: 5rem;
}

.world-spin {
  grid-row: 1;
  grid-column: 2;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

/*Buttons for Data Visualisation*/
button.vis-btn {
  height: 5rem;
  width: 5rem;
}
#table-container {
  font-family: "Manrope", sans-serif;
  margin-left: 30.5%;
  margin-right: 30.5%;
}
#bar-head {
  font-family: "Manrope", sans-serif;
  margin-left: 30.5%;
  margin-right: 30.5%;
  margin-top: -6rem;
}

.graph {
  margin-left: 0rem;
  font-family: "Manrope", sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5rem;
  background-color: black;
  color: #fff;
  padding: 10px;
  text-align: center;
  z-index: 99;
}

.footer-elements {
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-self: baseline;
  width: 100%;
  margin-top: -1rem;
  font-family: "Manrope", sans-serif;
}

a.foot-links {
  color: white;
  padding: 5rem;
}

#table-container {
  padding-bottom: 10rem;
}

.blog-btns {
  padding-bottom: 8rem;
  margin-left: 29rem;
  margin-right: auto;
  height: 3rem;
  width: 70rem;
  display: grid;
  grid-template-columns: repeat(3, 30%);
}

.ctrl-btns {
  height: 2.7rem;
  width: 8rem;
  font-family: "Manrope", sans-serif;
  font-size: 1.1rem;
  background-color: white;
  color: black;
}
.ctrl-btns:hover {
  height: 2.7rem;
  width: 8rem;
  font-family: "Manrope", sans-serif;
  font-size: 1.1rem;
  background-color: black;
  color: white;
  cursor: pointer;
}
#blog-three {
  padding-bottom: 10rem;
}

#meteor {
  padding-bottom: 15rem;
}

#table-img {
  height: 12rem;
}

#tooltip {
  margin-top: -10rem;
}

section.scroll-btns {
  padding-bottom: 6rem;
}

#second {
  margin-top: 12rem;
}
button#scroll-btn {
  margin-left: 51rem;
  margin-top: 1rem;
  height: 3rem;
  width: 8rem;
  background-color: white;
  color: black;
  border-radius: 0;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
}
button#scroll-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

button#start-btn {
  width: 12rem;
  height: 3rem;
  font-size: 1.5rem;
  background-color: white;
  transition: 0.25s linear;
}
button#start-btn:hover {
  color: white;
  width: 12rem;
  height: 3rem;
  font-size: 1.5rem;
  background-color: black;
  cursor: pointer;
  transition: 0.25s linear;
}

h1.main-head-game {
  font-size: 12rem;
}

section#game-elements {
  font-size: 1.5rem;
}

#game {
  padding-bottom: 1rem;
}

.game-head {
  font-family: "Manrope", sans-serif;
  background-color: black;
}

.instructions {
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}
.game-btn {
  display: block;
  color: white;
  font-family: "Manrope", sans-serif;
  text-align: center;
}
.noti {
  color: red;
}

.hide {
  transform: translateX(-1000000%);
}
#game-ex {
  margin-top: -53rem;
  padding-bottom: 2rem;
}

.move {
  margin-left: -10000rem;
}

#game-ui {
  width: 40rem;
}
#game-ov {
  width: 35rem;
}

#blog-three {
  padding-top: 30rem;
}

@media (min-width: 900px) {
  button.nav-btn-pages {
    width: 8rem;
  }

  h1.head-scroll {
    font-size: 2.2rem;
  }

  .page-scroll {
    font-size: 1.2rem;
  }

  button.btn-scroll {
    font-size: 0.7rem;
    width: 6rem;
    margin-top: 1.8rem;
  }

  p.blog-text {
    margin-left: 10%;
  }
}

@media (min-width: 1400px) {
  button.nav-btn-pages {
    width: 12rem;
  }
  h1.head-scroll {
    font-size: 2.8rem;
  }

  .page-scroll {
    font-size: 1.2rem;
  }

  button.btn-scroll {
    font-size: 1.2rem;
    width: 12rem;
    height: 3rem;
  }
}
