@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Manrope:wght@400;500&family=Merriweather:ital,wght@0,300;0,700;1,400&family=Oswald:wght@200&display=swap");

/*Homepage Styles*/
body.home-body {
  background-image: url("../images/astro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1.main-head {
  display: block;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 4rem;
  text-align: center;
  margin-top: auto;
}

section.nav-tabs {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 1;
  height: 4rem;
  width: 80vw;
  margin: auto;
}

button.nav-btn {
  width: 15rem;
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-weight: 550;
  border-radius: 0;
}
button.nav-btn:hover {
  background-color: black;
  color: white;
  border: 0.2rem white solid;
  cursor: pointer;
}

section.tooltip-home {
  width: 80vw;
  height: 4rem;
  background-color: black;
  margin-left: 10rem;
  margin-right: auto;
  margin-top: 1rem;
  transform: translate(-10000%);
}

section.tooltip-home-show {
  width: 75.5vw;
  height: 4rem;
  background-color: white;
  margin-left: 12.5rem;
  margin-right: auto;
  margin-top: 1rem;
  transform: translate(0);
}

/*Pages Styles*/
h1.main-head-pages {
  display: block;
  color: black;
  font-family: "Manrope", sans-serif;
  font-size: 3.2rem;
  text-align: center;
  margin-top: -1rem;
}
section.nav-tabs-pages {
  display: grid;
  grid-template-columns: repeat(6, 16.5%);
  grid-template-rows: 1;
  height: 4rem;
  width: 90vw;
  margin: -2.42rem auto auto auto;
}
button.nav-btn-pages {
  width: 12rem;
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
  font-weight: 550;
  border-radius: 0;
  background-color: rgb(238, 237, 237);
}
button.nav-btn-pages:hover {
  background-color: black;
  color: white;
  border: 0.2rem white solid;
  cursor: pointer;
}
div.divider-line {
  border: 1px black solid;
  margin: 1.5rem auto auto auto;
  width: 100%;
}

main.main-style {
  height: 100vh;
  width: 100%;
}

button.active {
  background-color: black;
  color: white;
  border: 0.2rem white solid;
}

section.tooltip-pages {
  width: 75.5vw;
  height: 4rem;
  background-color: rgb(238, 237, 237);
  margin-left: 13rem;
  margin-right: auto;
  margin-top: 1rem;
  border: 1px black solid;
}
main.main-style {
  margin-top: -1.2rem;
}
section.design-para {
  display: block;
  font-family: "Manrope", sans-serif;
  text-align: center;
}

h2.design-head {
  font-size: 1.7rem;
}

p.design-txt {
  font-size: 1.1rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

img.planet-div-line {
  width: 20rem;
}
